@font-face {
    font-family: "Hagin Caps";
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/hagin-caps-medium-webfont.eot');
    src: url('../fonts/hagin-caps-medium-webfont.eot?#iefix') format("embedded-opentype"),url('../fonts/hagin-caps-medium-webfont.woff') format("woff"),url('../fonts/hagin-caps-medium-webfont.ttf') format("truetype")
}
body {
	background:#efefef url(../images/body_bg.png) repeat top left;
	font-size:14px;
	line-height:23px;
	padding:0;
	margin:0;
	line-height:18px;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
}
input[type=submit] {
    border: none;
    color: #fff;
    font-size: 13px;
    background: -webkit-linear-gradient(#08c,#0057ad) !important;
    background: linear-gradient(#08c,#0057ad) !important;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    border-radius: 2px;
    outline: none;
    padding: 7px 16px;
}
input[type=submit]:hover{
    background: -webkit-linear-gradient(#06c,#06c) !important;
    background: linear-gradient(#06c,#06c) !important;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.5);
}
input[type=submit]:active {
    background: -webkit-linear-gradient(#006edb,#06c) !important;
    background: linear-gradient(#006edb,#06c) !important;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.5);
}
ul,
ol {
    list-style-type: none;
    list-style-position: inside;
    padding: 0;
    margin: 0;
}
ol li {
    font-size: 10pt;
    list-style-type: decimal;
}
.logo{
	width: 860px;
	margin: 150px auto 20px auto;
	text-align:center;
}

.wrapper_install {
    width: 860px;
    background: #FFFFFF;
    box-shadow: 1px 1px 6px #000;
	margin: 10px auto 20px auto;
	font-size:16px;
	line-height:23px;
	color:#2e2e2e;
}

.wrapper_install ol {
margin-top:10px;
margin-bottom:20px;
}

.wrapper_install ol li {
margin:10px;
font-size:16px;
}

.wrapper_install h1,.wrapper_install h2 {
    line-height: 1.1;
    font-family: "Hagin Caps",sans-serif;
    font-size: 30px;
    font-weight: 500;
    margin: 0 0 10px;
	padding-bottom:10px;
	border-bottom:1px solid silver;
}

.wrapper_install .white {
height:10px;
}

.wrapper_install .white_big {
margin-top:20px;
height:10px;
padding-bottom:20px;
}

.action_container {
    padding: 25px;
}

.table_install{
margin-top:10px;
margin-bottom:15px;
}

.table_install td{
color:#2e2e2e;
}

.table_install td input{
margin:10px;
}

