/* Copyright (C) YOOtheme GmbH, YOOtheme Proprietary Use License (http://www.yootheme.com/license) */


/* Loading
----------------------------------------------------------------------------------------------------*/

#lightbox-loading {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 40px;
	height: 40px;
	margin: -20px 0 0 -20px;
	cursor: pointer;
	overflow: hidden;
	z-index: 1104;
}

#lightbox-loading div {
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 480px;
	background-image: url('../images/loading.png');
}


/* Lightbox
----------------------------------------------------------------------------------------------------*/

#lightbox-overlay {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1100;
}

#lightbox-tmp {
	display: none;
	padding: 0;
	margin: 0;
	border: 0;
	overflow: auto;
}

#lightbox-wrap {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	z-index: 1101;
	outline: none;
}

#lightbox-outer {
	position: relative;
	width: 100%;
	height: 100%;
	background: #FFF;
	box-shadow: 0px 0px 15px #555;	
}

#lightbox-content {
	position: relative;
	width: 0;
	height: 0;
	padding: 0;
	border: 0px solid #FFF;
	outline: none;
	overflow: hidden;
	z-index: 1102;
}

#lightbox-close {
	display: none;
	position: absolute;
	top: -17px;
	right: -17px;
	width: 34px;
	height: 34px;
	background: url('../images/close.png') 0 0 no-repeat;
	cursor: pointer;
	z-index: 1103;
}


/* Special Content
----------------------------------------------------------------------------------------------------*/

#lightbox-error {
	margin: 0;
	padding: 14px;
	font: normal 12px/20px Arial;
	color: #444;
}

#lightbox-img {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	line-height: 0;
	vertical-align: top;
}

#lightbox-frame {
	display: block;
	width: 100%;
	height: 100%;
	border: none;
}


/* Previous/Next Navigation
----------------------------------------------------------------------------------------------------*/

#lightbox-left,
#lightbox-right {
	display: none;
	position: absolute;
	top: 100px;
	bottom: 100px;
	width: 35%;
	outline: none;
	background: url('../images/blank.gif');
	z-index: 1102;
	cursor: pointer;
}

#lightbox-left { left: 0px; }
#lightbox-right { right: 0px; }

#lightbox-left-ico,
#lightbox-right-ico {
	display: block;
	position: absolute;
	top: 50%;
	left: -9999px;
	z-index: 1102;
	width: 50px;
	height: 50px;
	margin-top: -25px;
	background: url('../images/buttons.png') 0 0 no-repeat;
	cursor: pointer;
}
#lightbox-right-ico { background-position: 0 -50px; }

#lightbox-left:hover span { left: 30px; }
#lightbox-right:hover span {
	left: auto;
	right: 30px;
}


/* Titles
----------------------------------------------------------------------------------------------------*/

#lightbox-title {
	font-size: 12px;
	z-index: 1102;
}

#lightbox-title.lightbox-title-float {
	padding: 5px 10px;
	position: absolute;
	left: 0;
	bottom: -20px;
	background: #000; /* IE */
	background: rgba(0, 0, 0, 0.7);
	color: #FFF;
	font-weight: bold;
	border-radius: 6px;	
}

#lightbox-title.lightbox-title-inside {
	padding-bottom: 10px;
	text-align: center;
	color: #333;
	background: #FFF;
	position: relative;
}

#lightbox-title.lightbox-title-outside {
	padding-top: 10px;
	color: #FFF;
}

#lightbox-title.lightbox-title-over {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #FFF;
	text-align: center;
	background: #000; /* IE */
	background: rgba(0, 0, 0, 0.5);
}

#lightbox-title-over { padding: 10px; }


/* Image Content
----------------------------------------------------------------------------------------------------*/

a[data-lightbox] {
	display: inline-block;
	max-width: 100%;
}
a[data-stop] {
	display: inline-block;
	max-width: 100%;
}
