@charset "utf-8";

/* Menu */
#menu {
	font-family: Arial, sans-serif;
	font-size: 12px;
	background-color: #505060;
	/*width: 900px;*/
	height: 40px;
	padding: 0 20px;
	display: block;
	line-height: 1;
}
#menu h1, #menu ul, #menu p, #menu img {
	margin: 0;
	padding: 0;
	border: 0;
}
#menu h1 {
	font-weight: normal;
}
#menu ul {
	list-style: none;
}
#menu a {
	text-decoration: none;
	color: #e0e0e0;
}
#menu .menu-label {
	/*font-weight: bold;*/
    font-size: 12px;
	text-transform: uppercase;
}

	/* Top buttons */
	#menu .menu-top > li {
		float: left;
		position: relative;
		text-align: center;
		border-left:1px solid #505060;
		border-right:1px solid #505060;		
		-webkit-transition: background-color 0.2s;
		-moz-transition: background-color 0.2s;
		-ms-transition: background-color 0.2s;
		-o-transition: background-color 0.2s;
		transition: background-color 0.2s;
	}
	#menu .menu-top > li:hover {
		background-color: #E2EDFE;
		border-left:1px solid;
		border-right:1px solid;
		-webkit-transition: background-color 0.2s;
		-moz-transition: background-color 0.2s;
		-ms-transition: background-color 0.2s;
		-o-transition: background-color 0.2s;
		transition: background-color 0.2s;
	}
	#menu .menu-top .menu-right {
		float: right;
	}
	#menu .menu-button {
		display: block;
		line-height: 40px;
		padding: 0 18px;
		color: #fff;
		-webkit-transition: color 0.2s;
		-moz-transition: color 0.2s;
		-ms-transition: color 0.2s;
		-o-transition: color 0.2s;
		transition: color 0.2s;
	}
	#menu li:hover .menu-button {
		color: #404040;
		-webkit-transition: color 0.2s;
		-moz-transition: color 0.2s;
		-ms-transition: color 0.2s;
		-o-transition: color 0.2s;
		transition: color 0.2s;
	}
	#menu .menu-drop {
		padding-right: 15px;
	}
	#menu .menu-drop .menu-label {
		padding-right: 20px;
		background: url("images/drop1.png") no-repeat right;
		-webkit-transition: background 0.2s;
		-moz-transition: background 0.2s;
		-ms-transition: background 0.2s;
		-o-transition: background 0.2s;
		transition: background 0.2s;
	}
	#menu li:hover .menu-drop .menu-label {
		background: url("images/drop2.png") no-repeat right;
		-webkit-transition: background 0.2s;
		-moz-transition: background 0.2s;
		-ms-transition: background 0.2s;
		-o-transition: background 0.2s;
		transition: background 0.2s;
	}
	
	/* Dropdown */
	#menu .menu-dropdown {
		text-align: left;
		background-color: #E2EDFE;
		-webkit-border-radius: 0 0 5px 5px;
		-moz-border-radius: 0 0 5px 5px;
		-ms-border-radius: 0 0 5px 5px;
		-o-border-radius: 0 0 5px 5px;
		border-radius: 0 0 5px 5px;
		position: absolute;
		left: -5000px;
		opacity: 0;
		z-index: 100;
		border-left:1px solid;
		border-right:1px solid;
		border-bottom:1px solid;
	}
	#menu li:hover .menu-dropdown {
		left: 0;
		opacity: 1;
		-webkit-transition: opacity 0.2s;
		-moz-transition: opacity 0.2s;
		-ms-transition: opacity 0.2s;
		-o-transition: opacity 0.2s;
		transition: opacity 0.2s;
	}
	#menu .menu-right:hover .menu-dropdown {
		left: auto;
		right: 0;
	}
	#menu .menu-sub {
		margin: 5px 0;
	}
	
		/* Dropdown content */
		#menu .menu-sub li {
			white-space: nowrap;
			-webkit-transition: background-color 0.1s;
			-moz-transition: background-color 0.1s;
			-ms-transition: background-color 0.1s;
			-o-transition: background-color 0.1s;
			transition: background-color 0.1s;
		}
		#menu .menu-sub li:hover {
			background: #fff url("images/select.png") no-repeat 10px;
			-webkit-transition: background-color 0.2s;
			-moz-transition: background-color 0.2s;
			-ms-transition: background-color 0.2s;
			-o-transition: background-color 0.2s;
			transition: background-color 0.2s;
		}
		#menu .menu-subbutton {
			display: block;
			padding: 7px 20px;
			line-height: 1.3;
			color: #404040;
			-webkit-transition: color 0.2s;
			-moz-transition: color 0.2s;
			-ms-transition: color 0.2s;
			-o-transition: color 0.2s;
			transition: color 0.2s;
		}
		#menu .menu-sub li:hover .menu-subbutton {
			color: #000;
			-webkit-transition: color 0.2s;
			-moz-transition: color 0.2s;
			-ms-transition: color 0.2s;
			-o-transition: color 0.2s;
			transition: color 0.2s;
		}
		#menu .menu-desc {
			font-style: italic;
			color: #5f5f5f;
			-webkit-transition: color 0.2s;
			-moz-transition: color 0.2s;
			-ms-transition: color 0.2s;
			-o-transition: color 0.2s;
			transition: color 0.2s;
		}
		#menu .menu-sub li:hover .menu-desc {
			color: #d0d0d0;
			-webkit-transition: color 0.2s;
			-moz-transition: color 0.2s;
			-ms-transition: color 0.2s;
			-o-transition: color 0.2s;
			transition: color 0.2s;
		}
		#menu .menu-row {
			vertical-align: text-top;
			display: inline-block;
			zoom: 1;
			*display: inline;
		}
		#menu .menu-row .menu-sub {
			margin: 0;
		}
		#menu h1 {
			font-size: 2em;
			color: #7a7a7a;
		}
		#menu p {
			color: #505050;
		}
		#menu .emp {
			font-weight: bold;
		}
		#menu .quote {
			font-style: italic;
		}
		
		/* Dropdown 3 */
		#menu .menu-dropdown3 {
			padding-top: 5px;
			white-space: nowrap;
		}
		#menu .menu-dropdown3 h1 {
			margin: 0 0 5px 20px;
		}
		#menu .menu-dropdown3 .menu-row {
			border-right: 1px dotted #707070;
			
		}
		#menu .menu-dropdown3 .menu-row:last-child {
			border-right: none;
		}
		
		/* Dropdown 4 */
		#menu .menu-dropdown4 {
			padding-top: 5px;
			white-space: nowrap;
		}
		#menu .menu-dropdown4 h1 {
			margin: 0 0 5px 20px;
		}
		#menu .menu-dropdown4 .menu-row div {
			border-right: 1px dotted #707070;
			margin: 5px 0 10px 0;
		}
		#menu .menu-dropdown4 .menu-row:last-child div {
			border-right: none;
		}
		#menu .menu-dropdown4 .menu-row div:last-child {
			margin-bottom: 5px;
		}
		
		/* Dropdown 6 */
		#menu .menu-dropdown6 img {
			margin-right: 5px;
			vertical-align: middle;
		}
		#menu .menu-dropdown6 .menu-label {
			vertical-align: middle;
		}
		#menu .menu-dropdown6 .menu-subbutton {
			padding: 5px 20px;
		}
		
		/* Dropdown 7 */
		#menu .menu-dropdown7 {
			padding: 10px;
			width: 210px;
		}
		#menu .menu-dropdown7 p {
			margin-top: 7px;
		}
		#menu .menu-dropdown7 h1 {
			color: #707070;
			padding-bottom: 3px;
			border-bottom: 1px solid #858585;
		}