/*********** ЛАЙНБРО ************/

/* РЕКЛАМНАЯ СТРОКА */

/* Блок в котором будет выводиться рекламная строчка */
.lb_link_block{
	width:88%;
	margin-left:61px;
	height:40px;
	border-bottom:1px solid silver;
}

/* Первый столбец (ссылка) */
#lb_link{
    float:left; 
    text-align:left; 
    display:block;
    width:70%;
    height:40px; 
    line-height:40px;  
	overflow:hidden;
}
#lb_link .lb_link{
    display:block;
    font-weight:normal; 
    font-size:22px; 
}
#lb_link .lb_link a{
    
}


/* Второй столбец (Добавить сюда свою рекламу) */
#lb_link_add {
    float:right; 
    width:30%; 
    text-align:right; 
    height:40px; 
    line-height:50px; 
}
#lb_link_add .lb_link { 
    display:block; 
    font-size:12px; 
    text-decoration:none; 
    font-weight:normal;  
}
#lb_link_add .lb_link a{
    
}

/* БЛОК ССЫЛОК */

/* Обнуляем стили для таблицы блока ссылок */
.lb_blockurl{
	width:100% !important;
	border:none !important;
	border-spacing:1px !important;	
	padding:5px !important;
	margin:0 !important; 
}
.lb_blockurl tr td{ 
	border:none !important;
	border-spacing:0 !important;	
	padding:4px 1px 4px 1px !important;
	margin:0 !important;
}

/* Первый столбец (картинки) */
.lb_blockurl tr td{ 
	width:20px !important;
}
.lb_blockurl tr td img{ 
	position:relative !important;
	top:1px !important;
}

/* Второй столбец (ссылки) */
.lb_blockurl tr td.lb_blockurl_link{
	font-size:14px !important;
}

/* Ячейка (цена) */	
.lb_blockurl tr td.lb_blockurl_price{
	font-size:12px !important;
	padding-top:5px !important;
	color:red !important;
}

/* Ячейка (добавить рекламу) */	
.lb_blockurl tr td.lb_blockurl_add{
	width:70% !important;
	font-size:12px !important;
	text-align:right !important;
	padding-top:5px !important;
}


/* ТИЗЕРЫ */
.lb_teaser{
	border:0px solid silver; /* Рамка */
	padding:5px; 			 /* Внутренние Отступы */   
}
.lb-clear{
	clear:both;
}

/* Добавить сюда свою рекламу */
#lb_teaser_add {
	float:right;
    text-align:center; 
    line-height:20px;
	padding:5px;	
}

/* ДОПОЛНИТЕЛЬНО */

/* Цвет ссылки */
span.lb-hidden {
	color:#0061c1; 
	cursor: pointer;
}
span.lb-hidden:hover {
	color:orange; 
	cursor: pointer;
}

/* Цвет добавить рекламу */	
span.lb-hidden-add {
	color:gray !important; 
	cursor: pointer; 
}